.heading{
    color:aliceblue;
    background-color: black;
}
.container1{
    background-color: black; 
}

.topnavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
}

button{
    margin-left: 20px;
    color: white;
    background-color: black;  
}
span{
    color: red;
}
.navlinks a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  justify-content: end;
  font-size: 16px;
  transition: 0.3s;
}
.navlinks a:hover {
  color: #ff9800;
}

.navbar{
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner{
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#e7e8e3;
}
.shopnowbtn{
    background-color: red;
}
.links{
    display: flex;
  justify-content: left;
  justify-items: baseline;
  align-items: left;
}
